@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background: rgb(82, 144, 249);
  background: linear-gradient(0deg, rgba(82, 144, 249, 0.8940826330532213) 0%, rgba(236, 236, 247, 0.9943019943019943) 63%);
  min-height: 100vh;
  color: white;
}

.noSpin::-webkit-inner-spin-button,
.noSpin::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}